@font-face
  font-style: normal
  font-family: "Vazir"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-family: Vazir
  src: url('../lib/vazir-font/Vazir.eot')
  src: url('../lib/vazir-font/Vazir.eot?#iefix') format('embedded-opentype'),
       url('../lib/vazir-font/Vazir.woff2') format('woff2'),
       url('../lib/vazir-font/Vazir.woff') format('woff'),
       url('../lib/vazir-font/Vazir.ttf') format('truetype')
  font-weight: normal
