@font-face
  font-style: normal
  font-family: "Vazir"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-family: Vazir
  src: url('../lib/vazir-font/Vazir.eot')
  src: url('../lib/vazir-font/Vazir.eot?#iefix') format('embedded-opentype'),
       url('../lib/vazir-font/Vazir.woff2') format('woff2'),
       url('../lib/vazir-font/Vazir.woff') format('woff'),
       url('../lib/vazir-font/Vazir.ttf') format('truetype')
  font-weight: normal


@font-face {
    font-family: 'NotoS';
    src: url('../lib/Noto_Serif_SC/NotoSerifSC-Medium.otf') format('opentype')
         url('../lib/Noto_Serif_SC/NotoSerifSC-Regular.otf')format('opentype')
         url('../lib/Noto_Serif_SC/NotoSerifSC-SemiBold.otf')format('opentype')
         url('../lib/Noto_Serif_SC/NotoSerifSC-Bold.otf')format('opentype')
    font-weight: normal;
    font-style: normal;
}
