
@font-face {
    font-family: 'NotoS';
    src: url('../font/Noto_Serif_SC/NotoSerifSC-Medium.otf') format('opentype')
         url('../font/Noto_Serif_SC/NotoSerifSC-Regular.otf')format('opentype')
         url('../font/Noto_Serif_SC/NotoSerifSC-SemiBold.otf')format('opentype')
         url('../font/Noto_Serif_SC/NotoSerifSC-Bold.otf')format('opentype')
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: "NotoS"
}

