.post-list
  padding: 0

  .post-item
    margin-bottom: 1rem
    margin-left: 0
    list-style-type: none

    .meta
      display: block
      margin-right: 16px
      min-width: 100px
      color: $color-meta
      font-size: 14px

@media (min-width: 480px)
  .post-list
    .post-item
      display: flex
      margin-bottom: 5px

      .meta
        text-align: left

.project-list
  padding: 0
  list-style: none

  .project-item
    margin-bottom: 5px
    p
      display: inline


.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
 /* border-right: .1em solid black;*/ /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
 /* margin: 0 auto;*/ /* Gives that scrolling effect as the typing happens */
  
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .7s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
/*
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}
*/
