
if theme.aside.card_announcement.enable
  .card-widget.card-announcement
    .item-headline
      i.fas.fa-music
      span= _p('Today\'s Lyrics')
    .announcement_content!= theme.aside.card_announcement.content
      
